@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root {
    --cor-fundo-nav:#CAF0F8;
    --cor-fundo-box:#03045E;
    --cor-fundo-header:#00B4D8;
    --cor-icon:white;
    --cor-icon-hover:black;
}

* {
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: white;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-fundo-box);
    border-radius: 10px;
}

body {
    font: 18pt 'Ubuntu', sans-serif;
}

header {
    background-color: var(--cor-fundo-header);
    border: 2px solid #007b94;
    display: flex;
    align-items: center;
}

header img {
    width: auto;
    height: 150px;
    margin: 5px;
}

h1 {
    width: 400px;
    font-size: 24pt;
    background-color: white;
    padding: 8px;
    border-radius: 100%;
    font-style: italic;
    text-align: center;
}

#parallax{
    background: url("imagens/banner.jpg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 250px;
    background-size: cover;
    background-attachment: fixed;
    border-top: 2px solid var(--cor-fundo-box);
    border-bottom: 2px solid var(--cor-fundo-box);
}


main {
    height: auto;
    display: flex;
    flex-flow: row;
    flex-direction: column;
    
}

main>article {
    background: var(--cor-fundo-nav);
    flex: 3 1 60%;
    order: 2;
}

main>nav {
    background: var(--cor-fundo-nav);
    flex: 1 1 20%;
    order: 1;
}

ul {
    margin: 1px;
    list-style: none;
}

article figure{
    font-size: 10pt;
    width: 150px;
    height: 300px;
    border: 1px solid #91aa9d;
    padding: 10px;
    margin: 10px 2px 2px 3px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.425);
    border-radius: 10px;
    margin-left: 25px;
}

article figure img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

article figcaption {
    display: flex;
    margin-bottom: 50px;
    text-align: left;
    align-items: center;
    justify-content: center;
}

article figure p {
    position: absolute;
    color: var(--cor-fundo-box);
    font-size: 15pt;
    width: 50px;
    margin-top: 220px;
}

h3 {
    background-color: #03045e;
    margin-top: 38px;
    margin-left: 25px;
    margin-right: 500px;
    border-radius: 10px;
    text-align: center;
    color: wheat;
    width: 50%;
}

article button{
    position: absolute;
    font-family: 'Ubuntu';
    font-weight: bolder;
    border: 1px solid blue;
    background: white;
    color: black;
    border-radius: 20px;
    padding: 5px;
    width: 100px;
    margin-top: 250px;
    margin-left: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.637);
    cursor: pointer;
}

.botoes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#burguer{
    background-color: rgba(0,0,0,1);
    width: 200px;
    height: 100vh;
    position: fixed;
    left: -200px;
    padding: 60px 0 0 0;
    transition: ease 0.5s;
    z-index: 1;
}
 
#burguer li {
    padding: 0 0 10px 10px;
}

#burguer li a {
    text-decoration:none;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

#abrir_burguer{
    font-family: arial;
    font-size: 20px;
    text-decoration: none;
    background-color: var(--cor-fundo-box);
    color: wheat;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 150px;
    cursor: pointer;
}

#fechar_burguer{
    color: wheat;
    font-size:30px;
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--cor-fundo-box);
    cursor: pointer;
}

#car{
    background-color: rgba(245, 222, 178, 1);
    width: 200px;
    height: 100vh;
    position: fixed;
    right: -200px;
    padding: 80px 0 0 0;
    transition: ease 0.5s;
    z-index: 1;
}

#abrir_car{
    font-family: arial;
    font-size: 20px;
    text-decoration: none;
    background-color: var(--cor-fundo-box);
    color: wheat;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 150px;
    cursor: pointer;
}

#fechar_car{
    color:wheat;
    font-size:30px;
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--cor-fundo-box);
    cursor: pointer;
}
 
#car li {
    padding: 0 0 10px 10px;
}

#car li a {
    text-decoration:none;
    color:#ffff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15pt;
}

#conteudo_car button{
    font-family: 'Ubuntu';
    font-weight: bolder;
    border: 1px solid blue;
    background: white;
    color: black;
    border-radius: 20px;
    width: 50%;
    height: auto;
    margin-left: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.637);
    cursor: pointer;
}

#conteudo_car {
    margin: 10px;
}

#conteudo_car p {
    padding-right: 15px;
    background: wheat;
    font-size: 9pt;
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.425);
    border-radius: 10px;
    align-items: center;
    text-align: left;
}

#contato {
    height: 350px;
}

fieldset {
    font-size: 15pt;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: none;
    width: 100%;
    padding-left: 25px;
}


fieldset label {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 5px;
    
}
#nome, #email, #assunto {
    width: 300px;
    height: 25px;
}

input, textarea {
    border-radius: 10px;  
}

#duvida {
    resize: none;
    width: 300px;
    height: 100px;
}

#enviar {
    margin-top: 275px;
    margin-left: 95px;
}

footer {
    background-color: var(--cor-fundo-header);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    height: 300px;
    border-top: 1px solid black;
}

#sec_bt_redes{
    padding-top: 25px;
    text-align: center;
}

.bt_redes{
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: auto;
    outline: none;
    color: #fff;
    background-color: var(--cor-fundo-box);
    border: none;
    border-radius: 360px;
    margin-right: 15px;
}

.redes:hover {filter: grayscale(0.5);}

.bt_redes:active {
    background-color: #4081b7;
    transform: translateY(4px);
}

.redes{
    width: 50px;
    height: 50px;
}

#membros{
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15pt;
    width: 100%;
    justify-content: center;
    padding-left: 20px;
}

@media screen and (max-width:780px) {
    header, main, footer {
        width: 100%;
        height: auto;
    }    

    header img, header h1 {
        width: 50%;
        font-size: 12pt;
        text-align: center;
    }

    header h1 {
        margin-right: 10px;
    }

    #parallax {
        display: none;
    }

    footer {
        width: 100%;
        height: auto;
    }

    #redes {
        display: none;
    }

    #membros p{
        text-align: center;
    }
}
    
